/*=== RESET ================================*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

textarea:focus,
input:focus {
  outline: none;
}

a {
  font-size: 0.8rem;
  color: hsla(0, 0%, 19%, 1);
}

#login .icon-settings {
  color: hsla(210, 77%, 49%, 1);
  transition: 0.2s;
}
#login .text-click-settings {
  color: hsla(210, 77%, 49%, 1);
  transition: 0.2s;
}
#login .icon-settings:hover {
  color: white;
}
#login .text-click-settings:hover {
  color: white;
}
a:hover {
  color: var(--text-color-light);
}
/*=== VARIABLES ===============================*/
:root {
  --header-height: 3.5rem;
  /* Colors */
  --hue: 210;
  /* HSL color mode */
  --base-color: hsl(var(--hue) 70% 50%);
  --base-color-second: hsl(var(--hue) 78% 53%);
  --base-color-alt: hsl(var(--hue) 49% 50%);
  --title-color: hsl(var(--hue) 41% 10%);
  --text-color: hsl(0 0% 46%);
  --text-color-light: hsl(0 0% 98%);
  --body-color: rgb(255, 255, 255);
  --swiper-theme-color: hsl(var(--hue) 36% 57%);

  /* fonts */
  --title-font-size: 1.875rem;
  --subtitle-font-size: 1rem;
  --title-font: "Poppins", sans-serif;
  --body-font: "DM Sans", sans-serif;
}

/*=== BASE =================================*/
html {
  scroll-behavior: smooth;
}

body {
  font: 400 1rem var(--body-font);
  color: var(--text-color);
  background-color: var(--body-color);
  -webkit-font-smoothing: antialiased;
}

.title {
  font: 700 var(--title-font-size) var(--title-font);
  color: var(--title-color);
  -webkit-font-smoothing: auto;
}

.subtitle {
  color: var(--title-color);
  -webkit-font-smoothing: auto;
}
.button {
  background-color: hsla(210, 61%, 62%, 1);
  color: hsla(0, 0%, 19%, 1);
  width: 100%;
  height: 3rem;
  border-radius: 0.4rem;
  justify-content: center;
  padding: 0 1.5rem;
  font: 500 1rem var(--body-font);
  transition: background 0.3s;
  border: none;
  cursor: pointer;
  font-style: normal;
  font-weight: 700;
  font-size: 1rem;
  font-family: var(--title-font);
  letter-spacing: 0.1em;
  text-transform: uppercase;
  text-align: center;
  margin-top: 1.563rem;
  margin-bottom: 0rem;
}

.button:hover {
  background: var(--base-color-alt);
}
/*=== LAYOUT ===============================*/
.container {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  margin-bottom: 0.4rem;
}

.grid {
  display: grid;
  gap: 0.3rem;
}

.section {
  margin-top: 5rem;
}

.section .title {
  margin-bottom: 1rem;
}

.section .subtitle {
  font-size: var(--subtitle-font-size);
}

.section header {
  margin: 0;
}

#header {
  border-bottom: 1px solid #e4e4e4;
  margin-bottom: 2rem;
  display: flex;

  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: var(--body-color);
}

#header.scroll {
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.15);
}

/* scrollbar */
/* width */
::-webkit-scrollbar {
  width: 0.5rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(240, 240, 240, 0.909);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: hsla(210, 76%, 53%, 0.5);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: hsla(214, 100%, 50%, 0.5);
}
.no-select {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/*=== LOGIN SECTION ================================*/
#login .container {
  background: hsla(210, 76%, 53%, 0.5);
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  padding: 1.25rem 1.875rem;
  text-align: center;
}
/* logo */
.logo-container {
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 0;
  margin: 0;
  padding: 0;
}
.trip-logo-text {
  width: max-content;
  height: max-content;
  color: black;
  font-weight: bold;
  font-size: 20px;
  cursor: context-menu;
}

header .section {
  margin-top: 0rem;
}

header .logo-alt span {
  color: var(--base-color);
}
header .logo span {
  font-size: 1rem;
}
header .logo {
  font: 700 1.31rem var(--title-font);
  color: black;
  margin-top: 0.2rem;
  user-select: none;
}
.trip-logo {
  width: 30%;
  height: max-content;
}
/* form */
form {
  margin-top: 1.875rem;
  margin-bottom: 2.5rem;
}

label,
input {
  display: block;
  width: 100%;
  text-align: left;
  font-family: var(--body-font);
}
label {
  font-weight: bold;
  font-size: 0.8rem;
}

input {
  border-radius: 0.4rem;
  border: 1px solid hsla(0, 0%, 100%, 1);
  padding: 0.9rem;
  font-size: 0.9rem;
  margin-bottom: 1.25rem;
}

input:focus {
  border-bottom: 2px solid var(--base-color);
}

#forgot-pass {
  display: block;
  width: max-content;
  text-align: right;
  margin-left: auto;
  font-family: var(--body-font);
}

/* redes sociais */
#social-container,
#social-container p {
  margin-bottom: 1.25rem;
  margin-top: 0rem;
  font-family: var(--body-font);
}

.fa-facebook {
  background: #3b5998;
  color: white;
}
.fa-linkedin {
  background: #007bb5;
  color: white;
}
.fa {
  line-height: 40px;
  font-size: 20px;
  width: 40px;
  height: 40px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  color: white;
  border-radius: 50%;
  cursor: pointer;
}

.fa:hover {
  opacity: 0.7;
}

/* register */
#register-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  justify-items: center;
  width: auto;
  gap: 0.2rem;
}
/*=== FOOTER ================================*/

footer {
  background: var(--base-color);
}

footer.section {
  padding: 4rem 0;
}

footer .logo {
  display: inline-block;
  margin-bottom: 1.5rem;
}
footer .logo {
  font: 700 2rem var(--title-font);
  color: var(--title-color);
  margin-top: 0.2rem;
  user-select: none;
}
footer .brand p {
  color: var(--text-color-light);
  margin-bottom: 0.75rem;
}

footer i {
  font-size: 1.5rem;
  color: var(--text-color-light);
}

footer .socials a {
  transition: 0.3s;
  display: inline-block;
}
footer .socials span {
  opacity: 0;
}
footer .socials {
  grid-auto-flow: column;
  width: fit-content;
}

footer .socials a:hover {
  transform: translateY(-8px);
}
footer .brand p {
  color: var(--text-color-light);
  margin-bottom: 0.75rem;
}
footer .logo span {
  font-size: 1rem;
}
.logo-alt span {
  color: var(--body-color);
}
.logo {
  font: 700 1.31rem var(--title-font);
  color: var(--title-color);
  margin-top: 0.2rem;
  user-select: none;
}
@media (min-width: 1200px) {
    .container {
    max-width: 1120px;
    margin-left: auto;
    margin-right: auto;
  }
 

  .section {
    padding: 10rem 0;
  }
  #login .container {
    background: hsla(210, 76%, 53%, 0.5);
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding: 1.25rem 2.875rem;
    text-align: center;
  }
  .trip-logo {
    width: 12%;
    height: max-content;
}
  /* footer */
  footer.section {
    padding: 3.75rem 0;
  }

  footer .container {
    grid-auto-flow: column;
    align-items: center;
    justify-content: space-between;
  }

  footer .logo span{
    font-size: 2rem;
  }
}
@media (min-width: 1023px) {
    .container {
    max-width: 1120px;
    margin-left: auto;
    margin-right: auto;
  }
 

  .section {
    padding: 10rem 0;
  }
  #login .container {
    background: hsla(210, 76%, 53%, 0.5);
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding: 1.25rem 2.875rem;
    text-align: center;
  }
  .trip-logo {
    width: 12%;
    height: max-content;
}
  /* footer */
  footer.section {
    padding: 3.75rem 0;
  }

  footer .container {
    grid-auto-flow: column;
    align-items: center;
    justify-content: space-between;
  }

  footer .logo {
    font-size: 2rem;
  }
}
@media (min-width: 992px) {
   :root {
    --title-font-size: 2.25rem;
    --subtitle-font-size: 1.125rem;
  }
   /* layout */
   .container {
    max-width: 1120px;
    margin-left: auto;
    margin-right: auto;
  }
  main {
    margin-top: var(--header-height);
  }

  .section {
    padding: 10rem 0;
  }
  #login .container {
    background: hsla(210, 76%, 53%, 0.5);
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding: 1.25rem 2.875rem;
    text-align: center;
  }
  .trip-logo {
    width: 12%;
    height: max-content;
}
  /* footer */
  footer.section {
    padding: 3.75rem 0;
  }

  footer .container {
    grid-auto-flow: column;
    align-items: center;
    justify-content: space-between;
  }

  footer .logo {
    font-size: 2rem;
  }
}
@media (min-width: 767px) {
    :root {
        --title-font-size: 2.25rem;
        --subtitle-font-size: 1.125rem;
      }
       /* layout */
       .container {
        max-width: 1120px;
        margin-left: auto;
        margin-right: auto;
      }
    
      .section {
        padding: 10rem 0;
      }
    
      .section header {
        max-width: 32rem;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
      }
   #login .container {
     background: hsla(210, 76%, 53%, 0.5);
     margin-left: auto;
     margin-right: auto;
     width: 60%;
     padding: 1.25rem 2.875rem;
     text-align: center;
   }
   .trip-logo {
     width: 18%;
     height: max-content;
 }
   /* footer */
   footer.section {
     padding: 3.75rem 0;
   }
 
   footer .container {
     grid-auto-flow: column;
     align-items: center;
     justify-content: space-between;
   }
 
   footer .logo {
     font-size: 2rem;
   }
 }