/*=== RESET ================================*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

/*=== VARIABLES ===============================*/
:root {
  --header-height: 3.5rem;
  /* Colors */
  --hue: 212;
  /* HSL color mode */
  --base-color: hsl(var(--hue) 95% 62%); /* #4298fa*/ 
  --base-color-second: hsl(var(--hue) 73% 64%); /*#609fe6*/
  --base-color-alt: hsl(var(--hue) 83% 72%); /* #749bc8 */
  --title-color: hsl(var(--hue) 41% 10%); /*#0f1924   */ 
  --text-color: hsl(0 0% 46%);
  --text-color-light: #000;
  --body-color: #ffffff;
  --swiper-theme-color: hsl(var(--hue) 36% 57%); /*#6A91B9  */

  /* fonts */
  --title-font-size: 1.875rem;
  --subtitle-font-size: 1rem;
  --title-font: "Poppins", sans-serif;
  --body-font: "DM Sans", sans-serif;
}

/*=== BASE =================================*/
html {
  scroll-behavior: smooth;
}

body {
  font: 400 1rem var(--body-font);
  color: var(--text-color);
  background-color: var(--body-color);
  -webkit-font-smoothing: antialiased;
}

.title {
  font: 700 var(--title-font-size) var(--title-font);
  color: var(--title-color);
  -webkit-font-smoothing: auto;
}

.button {
  background-color: #151515;
  color: #ebebeb;
  height: 3.5rem;
  display: inline-flex;
  align-items: center;
  padding: 0 2rem;
  border-radius: 0.25rem;
  font: 500 1rem var(--body-font);
  transition: background 0.3s;
}

.button:hover {
  background: var(--base-color-alt);
}

.divider-1 {
  height: 1px;
  background: linear-gradient(
    270deg,
    hsla(var(--hue), 63%, 46%, 1),
    hsla(var(--hue), 65%, 88%, 0.34)
  );
}

.divider-2 {
  height: 1px;
  background: linear-gradient(
    270deg,
    hsla(var(--hue), 65%, 88%, 0.34),
    hsla(var(--hue), 63%, 46%, 1)
  );
}

/*=== LAYOUT ===============================*/
.container {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  margin-bottom: 0.4rem;
}

.grid {
  display: grid;

  gap: 2rem;
}

.section {
  padding: calc(5rem + var(--header-height)) 0;
}

.section .title {
  margin-bottom: 1rem;
}

.section .subtitle {
  font-size: var(--subtitle-font-size);
}

.section header {
  margin-bottom: 4rem;
}

#header {
  border-bottom: 1px solid #e4e4e4;
  margin-bottom: 2rem;
  display: flex;

  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: var(--body-color);
}

#header.scroll {
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.15);
}

/* scrollbar */
/* width */
::-webkit-scrollbar {
  width: 0.5rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(240, 240, 240, 0.909);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: hsla(210, 76%, 53%, 0.5);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: hsla(214, 100%, 50%, 0.5);
}
.no-select {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
/*=== LOGO ===============================*/
.container-logo {
  margin-top: 0.2rem;
  display: flex;
  flex-direction: row-reverse;
  width: 20%;
  height: 100%;
  align-items: center;
  justify-content: center;
}
.logo {
  font: 700 1.31rem var(--title-font);
  color: var(--title-color);
  margin-top: 0.2rem;
  user-select: none;
}

.logo-img {
  width: 30%;
  height: 100%;
  user-select: none;
}
.logo span {
  font-size: 1rem;
  color: var(--base-color);
}

.logo-alt span {
  color: var(--body-color);
}

/*=== NAVIGATION ===============================*/
nav {
  height: var(--header-height);
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

nav .title {
  color: var(--title-color);
}

nav ul li {
  text-align: center;
}

header .dropdown {
  text-align: center;
}

nav li {
  padding: 0.5rem;
  padding-right: 1rem;
  padding-left: 1rem;
  transition: background 0.8s;
  border-radius: 0.5rem;
}

nav li:hover {
  background: hsla(210, 76%, 53%, 0.5);
  border-radius: 0.5rem;
}

nav ul li a {
  transition: color 0.3s;
  position: relative;
}

nav ul li a:hover,
nav ul li a.active {
  color: var(--title-color);
  font-weight: bold;
  -webkit-font-smoothing: antialiased;
}

/* border bottom effect */
/* nav ul li a::after {
  content: "";
  width: 0%;
  height: 2px;
  background: var(--base-color);

  position: absolute;
  left: 0;
  bottom: -1.5rem;

  transition: width 0.2s;
} */

nav ul li a:hover::after,
nav ul li a.active::after {
  width: 100%;
  font-weight: bold;
}

nav .menu {
  opacity: 0;
  visibility: hidden;
  top: -20rem;
  transition: 0.25s;
}

nav .menu ul {
  display: none;
}

.user-area img {
  display: flex;
  position: relative;
  cursor: pointer;
}
.user-pic {
  width: 55px;
  height: 55px;
  border: 0.1px solid hsla(210, 76%, 53%, 0.5);
  border-radius: 50%;
  
}

.user-area:hover {
  transition: 0.2s;
  border-radius: 2rem;
  box-shadow: 0px 0px 3px 3px hsla(210, 76%, 53%, 0.5);
}

/* Menu dropdown  user */
.sub-menu-wrap {
  position: absolute;
  top: 100%;
  right: 6%;
  width: 320px;
  max-height: 0px;
  overflow: hidden;
  transition: max-height 0.5s;
}
.sub-menu-wrap.open-menu {
  max-height: 400px;
}
.sub-menu {
  background: var(--body-color);
  padding: 20px;
  margin: 10px;
}
.uer-info {
  display: flex;
  align-items: center;
}
.uer-info {
  font-weight: 500;
}
.uer-info img {
  width: 55px;
  border-radius: 50%;
  margin-right: 15px;
  
}
.uer-info .subtitle {
  color: var(--title-color);
  font-size: 1rem;
  
}

.sub-menu hr {
  border: 0;
  height: 1px;
  width: 100%;
  background: #ccc;
  margin: 12px 0 10px;
}

.sub-menu-link {
  display: flex;
  align-items: center;
  text-align: right;
  text-decoration: none;
  color: #525252;
  margin: 12px 0;
  
}
.sub-menu-link p {
  width: 100%;
}
.sub-menu-link:hover p {
  font-weight: 600;
}
/* Show menu */
nav.show .menu {
  opacity: 1;
  visibility: visible;

  background: var(--body-color);
  height: 100vh;
  width: 100vw;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: grid;
  place-content: center;
}

nav.show .menu ul {
  display: grid;
}

nav ul.grid {
  gap: 2.2rem;
  height: max-content;
  align-items: center;
}

.no-scroll {
  overflow-y: hidden;
}
.no-icon {
  visibility: hidden;
}

/* toggle menu */
.toggle {
  color: var(--base-color);
  font-size: 1.5rem;
  cursor: pointer;
}

nav .icon-close {
  visibility: hidden;
  opacity: 0;

  position: absolute;
  top: -1.5rem;
  right: 1.5rem;

  transition: 0.2s;
}

nav.show div.icon-close {
  visibility: visible;
  opacity: 1;
  top: 1.5rem;
}

/*=== HOME ================================*/
#home {
  overflow: hidden;
}

#home .container {
  margin: 0;
}

#home .image {
  position: relative;

  width: 100%;
  height: 100%;
}

#home .image::before {
  content: "";
  height: 100%;
  width: 100%;
  background: var(--base-color-second);
  opacity: 50%;
  position: absolute;
  top: -16.8%;
  left: 16.8%;
  z-index: 0;
}

#home .image img {
  position: relative;
  right: 2.93rem;
}

#home .image img,
#home .image::before {
  border-radius: 0.25rem;
}

#home .text {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  text-align: center;
}

#home .text h1 {
  margin-bottom: 1rem;
}

#home .text p {
  margin-bottom: 2rem;
}
#home .text span {
  color: var(--base-color);
  font-weight: bold;
}
/*=== BENEFITS ================================*/
.show-why-us {
  display: none;
}
.show-why-us-menu {
  display: none;
}

.li-drop {
  padding: 0;
  margin: 0;
  background-color: none;
  color: none;
}

header .dropbtn {
  background-color: var(--body-color);
  color: var(--title-color);
  padding: 0.5rem;
  padding-right: 1rem;
  padding-left: 1rem;
  border: none;
  font: var(--title-font);
  cursor: pointer;
  transition: 0.2s;
  text-align: center;
  transition: background 0.4s;
  border-radius: 0.5rem;
}

header .dropbtn {
  font-size: 1.875rem;
  font: 700 var(--title-font-size) var(--title-font);
}

.dropbtn:hover {
  background: hsla(210, 76%, 53%, 0.5);
  border-radius: 0.5rem;
}

.dropdown {
  position: relative;
  display: inline-block;
  border-radius: 0.5rem;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--base-color);
  min-width: 240px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 0.5rem;
}

header .dropdown-content {
  font-weight: 100;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  transition: 0.8s;
}

.dropdown-content a:hover {
  background-color: #ddd;
  border-radius: 0.5rem;
}

.dropdown:hover .dropdown-content {
  display: block;
  border-radius: 0.5rem;
}

.dropdown:hover .dropbtn {
  color: var(--title-color);
}

/*=== SERVICES ================================*/
#services {
  background: var(--body-color);
}
.cards.grid {
  gap: 1.5rem;
}

.card {
  padding: 3.625rem 2rem;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.08);
  border-bottom: 0.25rem solid var(--base-color);
  border-radius: 0.25rem 0.25rem 0 0;
  text-align: center;
}

.card i {
  display: block;
  margin-bottom: 1.5rem;
  font-size: 5rem;
  color: var(--base-color);
}

.card .title {
  font-size: 1.5rem;
  margin-bottom: 0.75rem;
}

/*=== PACKAGES  ================================*/
#packages {
  overflow: hidden;
}

#packages .container {
  margin: 0;
}

#packages .image {
  position: relative;
}

#packages .image::before {
  content: "";
  height: 100%;
  width: 100%;
  background: var(--base-color-second);
  opacity: 50%;
  position: absolute;
  top: -16.8%;
  left: -20.8%;
  z-index: 0;
}

#packages .image img {
  position: relative;
  right: 2.93rem;
}

#packages .image img,
#packages .image::before {
  border-radius: 0.25rem;
}

#packages .text {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  text-align: center;
}

#packages .text h1 {
  margin-bottom: 1rem;
}

#packages .text p {
  margin-bottom: 2rem;
}
#packages .text span {
  color: var(--base-color);
  font-weight: bold;
}

/*=== CONTACT ================================*/

#contact .grid {
  gap: 4rem;
}

#contact .text p {
  margin-bottom: 2rem;
}

#contact .button i,
#contact ul li i {
  font-size: 1.5rem;
  margin-right: 0.625rem;
}

#contact ul.grid {
  gap: 2rem;
}

#contact ul li {
  display: flex;
  align-items: center;
}

#contact ul li i {
  color: var(--base-color);
}

/*=== FOOTER ================================*/

footer {
  background: var(--base-color);
}

footer.section {
  padding: 4rem 0;
}

footer .logo {
  display: inline-block;
  margin-bottom: 1.5rem;
}

footer .brand p {
  color: var(--text-color-light);
  margin-bottom: 0.75rem;
}

footer i {
  font-size: 1.5rem;
  color: var(--text-color-light);
}

footer i:hover {
  color: white;
}
footer .socials a {
  transition: 0.3s;
  display: inline-block;
}
footer .socials span {
  opacity: 0;
}
footer .socials {
  grid-auto-flow: column;
  width: fit-content;
}

footer .socials a:hover {
  transform: translateY(-8px);
}

/* Back to top */
.back-to-top {
  background: var(--base-color);
  color: var(--text-color-light);
  position: fixed;
  right: 1rem;
  bottom: 1rem;

  padding: 0.5rem;
  clip-path: circle();

  font-size: 1.5rem;

  visibility: hidden;
  opacity: 0;

  transition: 0.3s;
  transform: translateY(100%);

  z-index: 100;
}

.back-to-top.show {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
}

/* Responsivo */
/* extra large devices: 1200 > */
@media (min-width: 1200px) {
  /* layout */
  .container {
    max-width: 1120px;
    margin-left: auto;
    margin-right: auto;
  }
  main {
    margin-top: var(--header-height);
  }

  .section {
    padding: 10rem 0;
  }

  .section header {
    max-width: 32rem;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
  .button {
    height: 3.125rem;
  }
  /* menu */
  nav .menu {
    opacity: 1;
    visibility: visible;
    top: 0;
  }

  nav .menu ul {
    display: flex;
    gap: 2rem;
  }

  nav .menu ul li a.title {
    font: 400 1rem var(--body-font);
    -webkit-font-smoothing: antialiased;
  }
  nav .menu ul li a.title.active {
    font-weight: bold;
    -webkit-font-smoothing: auto;
  }
  nav .icon-menu {
    display: none;
  }

  /* home */
  #home .container {
    grid-auto-flow: column;
    gap: 15rem;
    justify-content: space-between;
    margin: 0 auto;
    align-items: center;
  }

  #home .image {
    order: 1;
  }

  #home .text {
    order: 0;
    max-width: 24rem;
    text-align: left;
  }
  /* packages */
  #packages .container {
    grid-auto-flow: column;
    gap: 2rem;
    justify-content: space-between;
    margin: 0 auto;
    align-items: center;
  }

  #packages .image {
    order: 0;
  }

  #packages .text {
    order: 1;
    max-width: 24rem;
    text-align: center;
  }
  /* services */
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .card {
    padding-left: 3rem;
    padding-right: 3rem;
  }

  /* contact */
  #contact .container {
    grid-auto-flow: column;
    align-items: center;
  }
  #contact .text {
    max-width: 25rem;
  }

  /* footer */

  footer.section {
    padding: 3.75rem 0;
  }

  footer .container {
    grid-auto-flow: column;
    align-items: center;
    justify-content: space-between;
  }

  footer .logo {
    font-size: 2.25rem;
  }
}
/* large devices: 1023 > */
@media (min-width: 1023px) {
  /* layout */
  .container {
    max-width: 1120px;
    margin-left: auto;
    margin-right: auto;
  }
  main {
    margin-top: var(--header-height);
  }

  .section {
    padding: 10rem 0;
  }

  .section header {
    max-width: 32rem;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
  .button {
    height: 3.125rem;
  }
  /* menu */
  nav .menu {
    opacity: 1;
    visibility: visible;
    top: 0;
  }

  nav .menu ul {
    display: flex;
    gap: 2rem;
  }

  nav .menu ul li a.title {
    font: 400 1rem var(--body-font);
    -webkit-font-smoothing: antialiased;
  }
  nav .menu ul li a.title.active {
    font-weight: bold;
    -webkit-font-smoothing: auto;
  }
  nav .icon-menu {
    display: none;
  }

  /* home */
  #home .container {
    grid-auto-flow: column;
    gap: 15rem;
    justify-content: space-between;
    margin: 0 auto;
    align-items: center;
  }

  #home .image {
    order: 1;
  }

  #home .text {
    order: 0;
    max-width: 24rem;
    text-align: left;
  }
  /* packages */
  #packages .container {
    grid-auto-flow: column;
    gap: 2rem;
    justify-content: space-between;
    margin: 0 auto;
    align-items: center;
  }

  #packages .image {
    order: 0;
  }

  #packages .text {
    order: 1;
    max-width: 24rem;
    text-align: center;
  }
  /* services */
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .card {
    padding-left: 3rem;
    padding-right: 3rem;
  }

  /* contact */
  #contact .container {
    grid-auto-flow: column;
    align-items: center;
  }
  #contact .text {
    max-width: 25rem;
  }

  /* footer */

  footer.section {
    padding: 3.75rem 0;
  }

  footer .container {
    grid-auto-flow: column;
    align-items: center;
    justify-content: space-between;
  }

  footer .logo {
    font-size: 2.25rem;
  }
}

/* large devices: 992 > */
@media (min-width: 992px) {
  :root {
    --title-font-size: 2.25rem;
    --subtitle-font-size: 1.125rem;
  }
  /* layout */
  .container {
    max-width: 1120px;
    margin-left: auto;
    margin-right: auto;
  }
  main {
    margin-top: var(--header-height);
  }

  .section {
    padding: 10rem 0;
  }

  .section header {
    max-width: 32rem;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
  .button {
    height: 3.125rem;
  }
  /* menu */
  nav .menu {
    opacity: 1;
    visibility: visible;
    top: 0;
  }

  nav .menu ul {
    display: flex;
    gap: 2rem;
  }

  nav .menu ul li a.title {
    font: 400 1rem var(--body-font);
    -webkit-font-smoothing: antialiased;
  }
  nav .menu ul li a.title.active {
    font-weight: bold;
    -webkit-font-smoothing: auto;
  }
  nav .icon-menu {
    display: none;
  }

  /* home */
  #home .container {
    grid-auto-flow: column;
    gap: 5rem;
    justify-content: space-between;
    margin: 0 auto;
    align-items: center;
  }

  #home .image {
    order: 1;
  }

  #home .text {
    order: 0;
    max-width: 24rem;
    text-align: left;
  }
  /* packages */
  #packages .container {
    grid-auto-flow: column;
    gap: 2rem;
    justify-content: space-between;
    margin: 0 auto;
    align-items: center;
  }

  #packages .image {
    order: 0;
  }

  #packages .text {
    order: 1;
    max-width: 24rem;
    text-align: center;
  }
  /* services */
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .card {
    padding-left: 3rem;
    padding-right: 3rem;
  }

  /* contact */
  #contact .container {
    grid-auto-flow: column;
    align-items: center;
  }
  #contact .text {
    max-width: 25rem;
  }

  /* footer */

  footer.section {
    padding: 3.75rem 0;
  }

  footer .container {
    grid-auto-flow: column;
    align-items: center;
    justify-content: space-between;
  }

  footer .logo {
    font-size: 2.25rem;
  }
}

/* medium devices: 767 > */
@media (min-width: 767px) {
  /* show menu / container */
  .show-why-us {
    display: grid;
    gap: 5rem;
    padding: 2rem;
  }

  .show-why-us-menu {
    display: block;
  }

  :root {
    --title-font-size: 2.25rem;
    --subtitle-font-size: 1.125rem;
  }
  /* layout */
  .container {
    max-width: 1120px;
    margin-left: auto;
    margin-right: auto;
  }
  main {
    margin-top: var(--header-height);
  }

  .section {
    padding: 10rem 0;
  }

  .section header {
    max-width: 32rem;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
  .button {
    height: 3.125rem;
  }
  /* menu */
  nav .menu {
    opacity: 1;
    visibility: visible;
    top: 0;
  }

  nav .menu ul {
    display: flex;
    gap: 2rem;
  }

  nav .menu ul li a.title {
    font: 400 1rem var(--body-font);
    -webkit-font-smoothing: antialiased;
  }
  nav .menu ul li a.title.active {
    font-weight: bold;
    -webkit-font-smoothing: auto;
  }
  nav .icon-menu {
    display: none;
  }

  /* home */
  #home .container {
    grid-auto-flow: column;
    gap: 2rem;
    justify-content: space-between;
    margin: 0 auto;
    align-items: center;
  }

  #home .image {
    order: 1;
  }

  #home .text {
    order: 0;
    max-width: 24rem;
    text-align: left;
  }
  /* packages */
  #packages .container {
    grid-auto-flow: column;
    gap: 2rem;
    justify-content: space-between;
    margin: 0 auto;
    align-items: center;
  }

  #packages .image {
    order: 0;
  }

  #packages .text {
    order: 1;
    max-width: 24rem;
    text-align: center;
  }
  /* services */
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .card {
    padding-left: 3rem;
    padding-right: 3rem;
  }

  /* contact */
  #contact .container {
    grid-auto-flow: column;
    align-items: center;
  }
  #contact .text {
    max-width: 25rem;
  }

  /* footer */

  footer.section {
    padding: 3.75rem 0;
  }

  footer .container {
    grid-auto-flow: column;
    align-items: center;
    justify-content: space-between;
  }

  footer .logo {
    font-size: 2.25rem;
  }

  #benefits header {
    margin: 0 auto;
  }
  #benefits {
    background: var(--body-color);
  }
  #benefits span {
    color: var(--base-color);
  }

  #benefits .benefits {
    width: 100%;
    height: auto;
    margin-right: 10rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: center;
  }

  .info-card {
    width: 50%;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
  }

  #benefits span.circle {
    position: relative;
    background: var(--base-color);
    height: 7.5rem;
    width: 7.5rem;
    border-radius: 50%;
  }

  #benefits i {
    position: absolute;
    justify-content: center;
    color: white;
    font-size: 3rem;
  }

  .circle-box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: max-content;
    height: auto;
    margin-bottom: 2rem;
  }

  #benefits .text-info {
    color: var(--title-color);
    height: 5rem;
    font-size: 1rem;
    margin-right: 1rem;
    text-align: center;
  }

  header .dropbtn {
    background-color: var(--body-color);
    color: var(--title-color);
    padding: 0.5rem;
    padding-right: 1rem;
    padding-left: 1rem;
    font-size: 1rem;
    border: none;
    font: var(--title-font);
    cursor: pointer;
    transition: 0.2s;
    text-align: center;
    transition: background 0.4s;
  }
  header .dropbtn {
    font-size: 1rem !important;
    font: 400 var(--title-font-size) var(--title-font);
  }

  #contact {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    margin-bottom: 0.4rem;
  }
}

@media (max-width: 765px) {
  #header .container-logo-img-mobile {
    visibility: hidden;
    display: none;
  }
  .user-area a {
    display: none;
  }
  header .menu .grid {
    justify-items: center;
  }
  
  header .menu .link-edit-user {
    border: none;
    width: auto;
    align-items: center;
    color: var(--title-color);
  }
  
  .user-area {
    display: none;
  }
}
