
#favorites .container {
    border: 1px solid red;
}

#favorites .table-box {
    display: grid;
    flex-direction: row;
    justify-content: left;
    gap: 2rem;
}

table {
    margin-left: 45px;
    margin-right: 45px;
}