@tailwind base;
@tailwind utilities;
@tailwind components;

/* estilo da barra de rolagem */
::-webkit-scrollbar {
  width: 10px; /* largura da barra de rolagem */
}

/* estilo da trilha da barra de rolagem */
::-webkit-scrollbar-track {
  background-color: rgba(24, 95, 252, 0.10); /* cor de fundo da trilha */
}

/* estilo do "polegar" (a parte da barra de rolagem que é arrastada) */
::-webkit-scrollbar-thumb {
  background-color: #2563EB; /* cor do polegar */
  border-radius: 5px; /* borda arredondada do polegar */
  border: 2px solid #f1f1f1; /* borda do polegar */
}
::-webkit-scrollbar-thumb:hover{
    background-color: rgba(71, 127, 251, 1);
}
/* estilo do canto inferior direito da barra de rolagem */
::-webkit-scrollbar-corner {
  background-color: #f1f1f1; /* cor de fundo do canto */
}
