.swiper {
width: 75%;
height: 50%;
}

.swiper-slide {
margin-top: 1.2rem;
text-align: center;
font-size: 18px;
background: #fff;

  /* Center slide text vertically */
display: flex;
justify-content: center;
align-items: center;
user-select:none;
}

.swiper-button-prev, .swiper-button-next {
color: #2563EB;
}