@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?gplk4t');
  src:  url('fonts/icomoon.eot?gplk4t#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?gplk4t') format('truetype'),
    url('fonts/icomoon.woff?gplk4t') format('woff'),
    url('fonts/icomoon.svg?gplk4t#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-linkedin:before {
  content: "\e900";
}
.icon-phone:before {
  content: "\e901";
}
.icon-briefcase:before {
  content: "\e902";
}
.icon-close:before {
  content: "\e903";
}
.icon-facebook:before {
  content: "\e904";
}
.icon-instagram:before {
  content: "\e905";
}
.icon-mail:before {
  content: "\e906";
}
.icon-map-pin:before {
  content: "\e907";
}
.icon-menu:before {
  content: "\e908";
}
.icon-whatsapp:before {
  content: "\e909";
}
.icon-youtube:before {
  content: "\e90a";
}
.icon-Church:before {
  content: "\e90b";
}
.icon-Mountain:before {
  content: "\e90c";
}
.icon-Park:before {
  content: "\e90d";
}
.icon-arrow-up:before {
  content: "\e90e";
}
.icon-group:before {
  content: "\e90f";
}
.icon-directions_bus:before {
  content: "\e910";
}
.icon-zoom-in:before {
  content: "\e911";
}
.icon-map:before {
  content: "\e912";
}
.icon-one-finger-click:before {
  content: "\e913";
}
